.available-item {
    width: 30%;
    gap: 2rem;
}

.available-item__title, .available-item__size, .available-item__details-price {
    font-weight: var(--fw-300);
    color: var(--color-black);
    text-transform: uppercase;
}

.available-item__title {
    font-size: 3.2rem;
}

.available-item__size {
    font-size: 1.6rem;
}

.available-item__details-price {
    font-size: 2.4rem;
    color: #565656;
}

.available-item__details {
    justify-content: space-between;
    align-items: center;
}