.header {
    justify-content: space-between;
    padding: 4.4rem 12rem;
    align-items: center;
    z-index: 1;
}

.header-nav {
    gap: 10rem;
    align-items: center;
}

.header-nav__item {
    text-transform: uppercase;
    font-weight: var(--fw-300);
    color: var(--color-black);
    font-size: 2rem;
}