.header {
    justify-content: space-between;
    padding: 3rem 5rem;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.header-nav {
    gap: 4rem;
    align-items: center;
}

.header-nav__item {
    text-transform: uppercase;
    font-weight: var(--fw-300);
    color: var(--color-black);
    font-size: 2rem;
}