@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

:root {
  --color-black: #242424;
  --color-gray: #D9D9D9;
  --title-color: #8a8a8a;
  --color-brown: #603826;
  --color-white: #f5f5f5;
  --main-white: #ffffff;
  --fw-300: 300;
  --fw-400: 400;
  --padding: 8rem 13rem;
}